* {
    box-sizing: border-box;
    margin: 0;
    font-family: new;
}

@font-face {
    font-family: new;
    src: url(./../font/Titan_One/TitanOne-Regular.ttf);
}

header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    color: white;
    h1{
        font-size: 3rem;
    }
}
.head{
    text-align: center;
    background-color: #343a40;
    height: 50px;
    line-height: 50px;
    color: white;
}

.title{
    width: 100%;
    background-color: #495057;
    padding: 20px 0;
    h2{
        margin-left: 18%;
        color: white;
        font-size: 2rem;
    }
}
.names{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #495057;
    p{
        font-size: 1.5rem;
        width: 300px;
        text-align: center;
        color: white;
    }
}

main {
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: #495057;
}

/* a relire */
.cards {
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: white;
    text-align: center;
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
    position: relative;
    transition: 0.3s ease;
    h2{
        color: white;
    }  
}
.cards:hover{
    transform: scale(1.1);
}

/* gestion des images des cards */

.binche img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom right;
}
.nice img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.rio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.venise img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
