* {
    box-sizing: border-box;
    margin: 0;
    font-size: 1.5rem;
}

@font-face {
    font-family: new;
    src: url(./../font/lazy_dog.ttf);

}

header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    color: white;
    h1{
        font-size: 3rem;
    }
}
.head{
    text-align: center;
    background-color: #343a40;
    height: 50px;
    line-height: 50px;
    color: white;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.intro{
    width: 100%;
    text-align: center;
    padding: 20px;
}
.para{
    width: 60%;
    padding: 25px;
    border: 1px solid black;
}
.content-header{
    width: 100%;
    text-align: start;
    padding: 15px;
    h1{
        margin-left: 15%;
    }
}
.content-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 20px;
}
.cards{
    clip-path: polygon(15% 0,100% 0,85% 100%,0 100%);
    height: 400px;
    width: 300px;
}
.binche img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom right;
}
.nice img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.rio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.venise img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ZONE DE TEST */

button{
    height: 400px;
    width: 300px;
    clip-path: polygon(15% 0,100% 0,85% 100%,0 100%);
    border: none;
    display: flex;
    align-items: end;
    justify-content: center;
    filter: brightness(0.6);
    transition: all 0.3s ease;
    font-family: new;
    div{
        clip-path: polygon(15% 0,100% 0,85% 100%,0 100%);
        width: 60%;
        margin-bottom: 25px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        h2{
            padding: 15px;
            color: black;
        }
    }
}

.binche{
    background: url(./../medias/images/binche2.jpg);
    background-size: cover;
    background-position-x: 80%;
    background-position-y: 50%;
}
.nice{
    background: url(./../medias/images/nice.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}
.rio{
    background: url(./../medias/images/rio.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}
.venise{
    background: url(./../medias/images/venise.jpg);
    background-size: cover;
    background-position-x: 80%;
    background-position-y: 50%;
}


button:hover{
    transform: scale(1.1);
    filter: brightness(1);
    cursor: pointer;
}