* {
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: new;
    src: url(./../font/lazy_dog.ttf);

}
@font-face {
    font-family: new2;
    src: url(./../font/Grotesk/AlteHaasGroteskRegular.ttf);

}
/* couleurs sympa */
/* #dd5151 */



header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #fde9e0;
    font-family: new2;
    h1{
        font-size: 80px;
        text-shadow: 2px 2px 5px black;
    }
}
.head{
    text-align: center;
    background-color: #ffe4c4;
    height: 50px;
    line-height: 50px;
    color: white;
    font-family: new2;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    color: white;
    font-family: new2;
}
.box-defil{
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #f2f2f2;
    color: black;
    line-height: 30px;
}

/* Animation défilement freeze */

/* .defil{
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    font-family: new2;
    animation: defilement 8s infinite linear;
} */
/* Animation qui ne fonctionne pas correctement car elle agrandi la page */
/* @keyframes defilement {
    from{
        transform:translate3d(100%,0,0);
    }
    to{
        transform:translate3d(-100%,0,0);
    }
} */
/* sous titre + son animation */
.content-header{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    background-color: #fde9e0;
    border-radius: 15px;

    
    h2{
        color: black;
        font-size: 3rem;
        animation: changeColor 10s infinite linear;
    }
}


.content-header h2{
    background-image: url(./../medias/images/plume2.avif);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}


/* @keyframes changeColor {
    0%{color: red;}
    33%{color: blue;}
    66%{color: green;}
    100%{color: black;} 
} */






/* contenu de la page */
.content{
    width: 100%;
}
.content-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    padding: 50px;
    h2{
        color: black;
    }
}
.cards{
    clip-path: polygon(15% 0,100% 0,85% 100%,0 100%);
    height: 400px;
    width: 300px;
}
.card-name div h2{
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px black;
}
.binche img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom right;
}
.nice img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* titre drapeau */
.binche div h2 span:nth-child(1){
    color: black;
}
.binche div h2 span:nth-child(2){
    color: yellow;
}
.binche div h2 span:nth-child(3){
    color: red;
}

.nice div h2 span:nth-child(1){
    color: #072654;
}
.nice div h2 span:nth-child(2){
    color: white;
}
.nice div h2 span:nth-child(3){
    color: red;
}

.rio div h2 span:nth-child(2){
    color: #FBDE17;
}
.rio div h2 span:nth-child(1){
    color: #1C9C3B;
}
.rio div h2 span:nth-child(3){
    color: #1C9C3B;
}
.venise div h2 span:nth-child(1){
    color: #20A262;
}
.venise div h2 span:nth-child(2){
    color: white;
}
.venise div h2 span:nth-child(3){
    color: #D51920;
}
/* dimensions des cartes */
.rio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.venise img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Cartes */

button{
    height: 400px;
    width: 300px;
    clip-path: polygon(15% 0,100% 0,85% 100%,0 100%);
    border: none;
    display: flex;
    align-items: end;
    justify-content: center;
    filter: brightness(0.4);
    transition: all 0.3s ease;
    font-family: new;
    div{
        clip-path: polygon(15% 0,100% 0,85% 100%,0 100%);
        width: 60%;
        margin-bottom: 25px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        opacity: 0;
        h2{
            padding: 15px;
            color: white;
        }
    }
}
/* button div:before{
    content: "";
    position: absolute;
    inset: 0;
    background: black; permet d'avoir une bordure avec un élément de derrière
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    z-index: 0;
} */
/* animation du survol de la carte */
button:hover{
    transform: scale(1.1);
    filter: brightness(1);
    cursor: pointer;
    transition: 0.6s ease;
}

/* Manière 1 */
/* button:hover div {
    opacity: 1;
    transition: 0.4s ease;
} */
/* manière 2 avec un truc en plus */
button:hover div{
    animation: popup 0.4s ease forwards;
}
@keyframes popup {
    from {
        opacity: 0;
        margin-bottom: -150px;
    }
    to {
        opacity: 1;
        margin-bottom: 25px;
    }
}

/* Definition des cartes */
.binche{
    background: url(./../medias/images/binche2.jpg);
    background-size: cover;
    background-position-x: 80%;
    background-position-y: 50%;
}
.nice{
    background: url(./../medias/images/nice.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}
.rio{
    background: url(./../medias/images/rio2.png);
    background-size: cover;
    background-position-x: 46%;
    background-position-y: 50%;
}
.venise{
    background: url(./../medias/images/venise.jpg);
    background-size: cover;
    background-position-x: 80%;
    background-position-y: 50%;
}
.return{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    a{
        text-decoration: none;
        color: black;
        animation: rainbow2 15s infinite;
        text-shadow: 2px 2px 7px black;
        div{
            margin-left: 60px;
            background-color: white;
            height: 60px;
            width: 150px;
            text-align: center;
            line-height: 56px;
            border-radius: 15px;
            border: 1px solid black;
            animation: rainbow 15s infinite;
            font-weight: bold;
            box-shadow: 2px 2px 5px black;
            }
        }
}


@keyframes rainbow {
    0%{border: 3px solid #fc0303;}
    10%{border: 3px solid #fc4103;}
    20%{border: 3px solid #fc9803;}
    30%{border: 3px solid #73fc03;}
    40%{border: 3px solid #03fc3d;}
    50%{border: 3px solid #03fcf4;}
    60%{border: 3px solid #036bfc;}
    70%{border: 3px solid #2c03fc;}
    80%{border: 3px solid #8c03fc;}
    90%{border: 3px solid #fc03fc;}
    100%{border: 3px solid #fc0345;}
    
}
@keyframes rainbow2 {
    0%{color: #fc0303;}
    10%{color: #fc4103;}
    20%{color: #fc9803;}
    30%{color: #73fc03;}
    40%{color: #03fc3d;}
    50%{color: #03fcf4;}
    60%{color: #036bfc;}
    70%{color: #2c03fc;}
    80%{color: #8c03fc;}
    90%{color: #fc03fc;}
    100%{color: #fc0345}
    
}

/* Footer */

footer{
    text-align: center;
    background-color: #f2f2f2;
    padding: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 2px solid #E5E5E5;
    margin: 0 auto;
    h3{
        font-size: 2rem;
    }
}
.venise-footer{
    position: initial;
}
/* BINCHE PAGE */

.binche-defil{

}



.binche-content-content{
    background-color: red;
    width: 65%;
    margin: 50px auto;
}
.binche-text{
    text-align: center;
    p{
        margin-bottom: 30px;
    }
}
.binche-text h2{
    text-align: start;
    padding-left: 10px;
    border-left: 2px solid yellow;
    margin-bottom: 20px;

}









/* VENISE PAGE */

.venise-header{
    background-color: #7B2CBF;
    color: #fde9e0;
}
.venise-defil{
    background-color: #9D4EDD;
}
.venise-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.venise-content-header{
    width: 65%;
    background-color: #C77DFF;
}
.venise-content-content{
    background-color: purple;
    flex-wrap: wrap;
    width: 60%;
    gap: 50px;
    
}
.venise-cards{
    width: 300px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    flex-wrap: wrap;
}
.venise-cards-img{
    background-color: red;
    height: 80%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.venise-cards-legends{
    background-color: #072654;
    height: 20%;
    width: 100%;
    border-radius: 0 0 15px 15px;

}

.venise-cards-legends p{
    text-align: center;
    line-height: 50px;
}

.venise-cards .venise-cards-img:nth-child(1){
        background: url(./../medias/images/galve1.jpeg);
        background-size: cover;
}
.venise-cards .venise-cards-img:nth-child(2){
        background: url(./../medias/images/galve2.jpg);
        background-color: cover;
}